/**
 * Footer Styles
 */
.navbar {
    z-index: 1000;
}
.footer {
  background-color: #111827;
  color: #9ca3af;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: 40px;
}
.base-content {
  min-height: calc(100vh - 120px);
  padding: 40px 0;
}
body {
  background: #f3f4f6;
}